.bg-propio {
    background-color: palevioletred;
}
.bg-buscar {
    background-color: violet;
}
.bg-tendencias {
    background-color: pink;
}
.titulo {
    font-size: x-large;
    text-decoration: underline;
    margin: 40px;
    border: 20px;
}
.cuadradito {
    margin-top: 20px;
}
.footer {
    margin: 100px;
    border: 400px;
    margin-right: 10px;
}
.titulo-principal {
    background-color: palevioletred;
    font-size: x-large;
    text-align: center;
}
.imagencm {
    text-align: center;
    background-color: pink;
}